body {
  margin: 0px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(15, 172, 11, 1) 0%,
    rgba(212, 241, 4, 1) 70%
  );
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

.main-box {
  max-width: 600px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 6px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}

.main-title {
  grid-column: 1/-1;
  text-align: center;
}

.box-tempo {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 4rem/1.3 "Arial", sans-serif;
  position: relative;
  padding: 15px 10px;
}

.second-title {
  display: inline-block;
  font: 400 0.65rem/1.3 "Arial", sans-serif;
  position: absolute;
  top: 6px;
  left: 8px;
}
